@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, .footer {
    width: 1200px;
    background-color: #1f2937;
    color: #fff;
}

.header-container,
.content-container,
.main-content-container,
.about-container,
.testimonial-container,
.call-action-container,
.footer-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header-container {
    background-color: #1f2937;
}

.content-container {
    background-image: url("../images/hero.jpg");
    background-size:auto
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 64px;
}

.logo {
    font-size: 24px;
    color:#f9faf8;
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
}

.content {
    color: #f9faf8;
    width: 1200px;
    display: flex;
    height: 500px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
}

.welcome-text {
   align-self: center;
    padding: 64px;
    font-size: 18px;
    width: 50%;
}

.welcome-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.welcome-text p, h1 {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba( 0, 0, 0, .3);
}
button:hover {
    padding: 10px 20px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, .3);
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
    
}

.about-container {
    background-color: #f9faf8;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding: 64px;
    background-color: #f9faf8;
}

#about h1 {
    font-size: #1f2937;
    font-weight: 900;
    margin: 0 0 32px;
}

.images {
    display: flex;
    width: 1200px;
    padding: 0 64px;
    text-align: center;
}

.one,
.two,
.three,
.four {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 1;
}

.images div p {
    margin-top: 16px;
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #3882f6;
}

.testimonial-container {
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
}

.testimonial {
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 64px;
    background-color: #e5e7eb;
}

.testimonial p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 24px;
}

.testimonial h3 {
    align-self: flex-end;
}

.call-action-container {
    background-color: #f9faf8;
}

.call-action {
    display: flex;
    justify-content: center;
    padding: 75px 0;
    background-color: #f9faf8;
    width: 1200px;
}

.card {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 32px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 32px;
}

.card-button button{
    border: 1px solid #f9faf8;
    padding: 10px 20px;
}

.footer-container {
    background-color: #1f2937;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 50px;
}